# I. PEMAHAMAN DOMAIN DAN TUJUAN

## 1.1. Pemahaman Penyakit Ginjal Kronis

Penyakit Ginjal Kronis (PGK) adalah suatu proses patofisiologis dengan etiologi yang beragam, mengakibatkan penurunan fungsi ginjal yang progresif, penurunan fungsi ini bersifat kronis dan irreversible.

Data didapatkan dari UCI Machine Learning Repository. Berisikan 400 data dan memiliki 25 atribut, terdiri dari 1 kelas target dan 24 atribut.

## 1.2. Tujuan

Identifikasi PGK dengan atribut yang paling berpengaruh

# II. PEMBUATAN DATASET DAN TARGET

## 2.1 Data UCI

Data didapat dari: https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease

Data tersebut di-import dalam mariaDB

>Import Library

In [1]:
import numpy as np
import pandas as pd
import pymysql as pskl
import matplotlib.pyplot as plt

# Menampilkan semua array
# np.set_printoptions(threshold=np.nan)

>Memanggil Dataset

In [2]:
def dataset(retrieve="numeric", id=0, target=0): #hasil bertipe dataframe
    """
    parameters
    ----------
    retrieve: (all, numeric, polinom)
        all    : semua kolom
        numeric: hanya kolom numeric
        polinom: hanya kolom polinom
    id: (0, 1)
        0: tanpa kolom id
        1: dengan kolom id
    class: (0, 1)
        0: tanpa kolom class
        1: dengan kolom class
    
    """
    connection = pskl.connect(host="localhost", user="root", passwd="", database="knn")
    cursor = connection.cursor()
    if(retrieve=="all"):
        cols = ["id", "age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"]
        retrieve = "SELECT id, age, bp, sg, al, su, bgr, bu, sc, sod, pot, hemo, pcv, wbcc, rbcc, rbc, pc, pcc, ba, htn, dm, cad, appet, pe, ane, class FROM ckd_preprocessing3"
    elif(retrieve=="numeric"):
        cols = ["id", "age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "class"]
        retrieve = "SELECT id, age, bp, sg, al, su, bgr, bu, sc, sod, pot, hemo, pcv, wbcc, rbcc, class FROM ckd_preprocessing3"
    elif(retrieve=="polinom"):
        cols = ["id", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"]
        retrieve = "SELECT id, rbc, pc, pcc, ba, htn, dm, cad, appet, pe, ane, class FROM ckd_preprocessing3"
    resolveall = cursor.execute(retrieve)
    rows_tupple = cursor.fetchall()
    data = pd.DataFrame(list(rows_tupple))
    data.columns = cols
    if(id==0):
        data = data.drop(["id"], axis=1)
    if(target==0):
        data = data.drop(["class"], axis=1)
    return data
dataset(retrieve="polinom").head(5)

      rbc        pc         pcc          ba  htn   dm cad appet   pe  ane
0    None    normal  notpresent  notpresent  yes  yes  no  good   no   no
1    None    normal  notpresent  notpresent   no   no  no  good   no   no
2  normal    normal  notpresent  notpresent   no  yes  no  poor   no  yes
3  normal  abnormal     present  notpresent  yes   no  no  poor  yes  yes
4  normal    normal  notpresent  notpresent   no   no  no  good   no   no

## 2.2. Menentukan Atribut Target

Atribut "class" sebagai target dataset

# III. DATA CLEANING DAN PREPROCESSING

referensi: http://digilib.unila.ac.id/20585/4/II.%20TINJAUAN%20PUSTAKA.pdf

In [3]:
df = dataset()
df.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,NaN,9.6,31.0,7500.0,NaN
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,NaN,11.6,35.0,7300.0,4.6

In [4]:
k1 = 0.25
k3 = 0.75

kuantil = df.quantile([k1,k3])
kuantil

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0.25,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3,32.0,6500.0,3.9
0.75,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0,45.0,9800.0,5.4

In [5]:
len(df.columns)

14

In [6]:
for i in range(len(df.columns)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [7]:
df.iloc[:,0].quantile([k3]).values - df.iloc[:,0].quantile([k1]).values

array([ 22.5])

In [8]:
filtering_rule = df.apply(lambda x: print(x.name), axis=0)

age
bp
sg
al
su
bgr
bu
sc
sod
pot
hemo
pcv
wbcc
rbcc

In [9]:
df["age"].head()

0    48.0
1     7.0
2    62.0
3    48.0
4    51.0
Name: age, dtype: float64

In [10]:
filtering_rule = df.apply(lambda x: df[x.name], axis=0)
filtering_rule.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,NaN,15.4,44.0,7800.0,5.2
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,NaN,11.3,38.0,6000.0,NaN
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,NaN,9.6,31.0,7500.0,NaN
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,11.2,32.0,6700.0,3.9
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,NaN,11.6,35.0,7300.0,4.6

In [11]:
df.age[np.mean(df.age)<df.age].head() #filter ambil yang lebih dari rata2

2    62.0
5    60.0
6    68.0
8    52.0
9    53.0
Name: age, dtype: float64

In [12]:
df.apply(lambda x: df[x.name].quantile(k1), axis=0)

age       42.00
bp        70.00
sg         1.01
al         0.00
su         0.00
bgr       99.00
bu        27.00
sc         0.90
sod      135.00
pot        3.80
hemo      10.30
pcv       32.00
wbcc    6500.00
rbcc       3.90
dtype: float64

In [13]:
df.apply(lambda x: df[x.name].quantile(k3), axis=0)

age       64.50
bp        80.00
sg         1.02
al         2.00
su         0.00
bgr      163.00
bu        66.00
sc         2.80
sod      142.00
pot        4.90
hemo      15.00
pcv       45.00
wbcc    9800.00
rbcc       5.40
dtype: float64

In [14]:
df.apply(lambda x: (x < df[x.name].quantile(k1)), axis=0).head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,True,True,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,True,False,False
3,False,False,True,False,False,False,False,False,True,True,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [15]:
filtering = df.apply(lambda x: (x < df[x.name].quantile(k1)-((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5))|(x > df[x.name].quantile(k3)+((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5)), axis=0)

In [16]:
filtering

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,True,True,False,False,False,False,False
7,False,False,False,False,True,True,False,False,False,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,True,True,False,False,False,False,False
10,False,False,False,False,True,True,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,True,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,True,True,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,True,True,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,True,False,False,False,False,False,False,False
21,False,False,False,False,False,False,True,True,True,False,False,False,False,False
22,False,False,False,False,False,False,True,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,True,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,True,True,False,False,False,False,False,False,False,False
28,False,False,False,False,True,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,False,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False,False
374,False,False,False,False,False,False,False,False,False,False,False,False,False,False
375,False,False,False,False,False,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False,False,False,False,False,False
380,False,False,False,False,False,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False,False,False,False,False,False
385,False,False,False,False,False,False,False,False,False,False,False,False,False,False
386,False,False,False,False,False,False,False,False,False,False,False,False,False,False
387,False,False,False,False,False,False,False,False,False,False,False,False,False,False
388,False,False,False,False,False,False,False,False,False,False,False,False,False,False
389,False,False,False,False,False,False,False,False,False,False,False,False,False,False
390,False,False,False,False,False,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
filtered_df = df[~(filtering).any(axis=1)]
filtered_df

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.20,NaN,NaN,15.4,44.0,7800.0,5.2
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.40,NaN,NaN,11.6,35.0,7300.0,4.6
5,60.0,90.0,1.015,3.0,0.0,74.0,25.0,1.10,142.0,3.2,12.2,39.0,7800.0,4.4
13,68.0,70.0,NaN,NaN,NaN,98.0,86.0,4.60,135.0,3.4,9.8,NaN,NaN,NaN
16,47.0,70.0,1.015,2.0,0.0,99.0,46.0,2.20,138.0,4.1,12.6,NaN,NaN,NaN
17,47.0,80.0,NaN,NaN,NaN,114.0,87.0,5.20,139.0,3.7,12.1,NaN,NaN,NaN
19,62.0,60.0,1.015,1.0,0.0,100.0,31.0,1.60,NaN,NaN,10.3,30.0,5300.0,3.7
23,21.0,70.0,1.010,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,61.0,60.0,1.025,0.0,0.0,108.0,75.0,1.90,141.0,5.2,9.9,29.0,8400.0,3.7
26,75.0,80.0,1.015,0.0,0.0,156.0,45.0,2.40,140.0,3.4,11.6,35.0,10300.0,4.0
29,68.0,70.0,1.005,1.0,0.0,NaN,28.0,1.40,NaN,NaN,12.9,38.0,NaN,NaN
31,73.0,90.0,1.015,3.0,0.0,107.0,33.0,1.50,141.0,4.6,10.1,30.0,7800.0,4.0
36,76.0,70.0,1.015,1.0,0.0,92.0,29.0,1.80,133.0,3.9,10.3,32.0,NaN,NaN
37,72.0,80.0,NaN,NaN,NaN,137.0,65.0,3.40,141.0,4.7,9.7,28.0,6900.0,2.5
38,69.0,80.0,1.020,3.0,0.0,NaN,103.0,4.10,132.0,5.9,12.5,NaN,NaN,NaN
40,46.0,90.0,1.010,2.0,0.0,99.0,80.0,2.10,NaN,NaN,11.1,32.0,9100.0,4.1
41,45.0,70.0,1.010,0.0,0.0,NaN,20.0,0.70,NaN,NaN,NaN,NaN,NaN,NaN
46,48.0,70.0,1.015,0.0,0.0,124.0,24.0,1.20,142.0,4.2,12.4,37.0,6400.0,4.7
47,11.0,80.0,1.010,3.0,0.0,NaN,17.0,0.80,NaN,NaN,15.0,45.0,8600.0,NaN
50,53.0,60.0,NaN,NaN,NaN,91.0,114.0,3.25,142.0,4.3,8.6,28.0,11000.0,3.8
52,53.0,90.0,1.015,0.0,0.0,NaN,38.0,2.20,NaN,NaN,10.9,34.0,4300.0,3.7
55,35.0,80.0,1.005,3.0,0.0,NaN,NaN,NaN,NaN,NaN,9.5,28.0,NaN,NaN
62,15.0,60.0,1.020,3.0,0.0,86.0,15.0,0.60,138.0,4.0,11.0,33.0,7700.0,3.8
64,55.0,80.0,1.010,0.0,0.0,146.0,NaN,NaN,NaN,NaN,9.8,NaN,NaN,NaN
65,44.0,90.0,1.010,1.0,0.0,NaN,20.0,1.10,NaN,NaN,15.0,48.0,NaN,NaN
66,67.0,70.0,1.020,2.0,0.0,150.0,55.0,1.60,131.0,4.8,NaN,NaN,NaN,NaN
68,65.0,70.0,1.010,2.0,0.0,112.0,73.0,3.30,NaN,NaN,10.9,37.0,NaN,NaN
71,46.0,60.0,1.010,1.0,0.0,163.0,92.0,3.30,141.0,4.0,9.8,28.0,14600.0,3.2
77,67.0,70.0,1.010,1.0,0.0,102.0,48.0,3.20,137.0,5.0,11.9,34.0,7100.0,3.7
78,70.0,80.0,NaN,NaN,NaN,158.0,85.0,3.20,141.0,3.5,10.1,30.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,69.0,70.0,1.020,0.0,0.0,83.0,42.0,1.20,139.0,3.7,16.2,50.0,9300.0,5.4
371,28.0,60.0,1.025,0.0,0.0,79.0,50.0,0.50,145.0,5.0,17.6,51.0,6500.0,5.0
372,72.0,60.0,1.020,0.0,0.0,109.0,26.0,0.90,150.0,4.9,15.0,52.0,10500.0,5.5
373,61.0,70.0,1.025,0.0,0.0,133.0,38.0,1.00,142.0,3.6,13.7,47.0,9200.0,4.9
374,79.0,80.0,1.025,0.0,0.0,111.0,44.0,1.20,146.0,3.6,16.3,40.0,8000.0,6.4
375,70.0,80.0,1.020,0.0,0.0,74.0,41.0,0.50,143.0,4.5,15.1,48.0,9700.0,5.6
376,58.0,70.0,1.025,0.0,0.0,88.0,16.0,1.10,147.0,3.5,16.4,53.0,9100.0,5.2
377,64.0,70.0,1.020,0.0,0.0,97.0,27.0,0.70,145.0,4.8,13.8,49.0,6400.0,4.8
378,71.0,60.0,1.025,0.0,0.0,NaN,NaN,0.90,140.0,4.8,15.2,42.0,7700.0,5.5
379,62.0,80.0,1.025,0.0,0.0,78.0,45.0,0.60,138.0,3.5,16.1,50.0,5400.0,5.7
380,59.0,60.0,1.020,0.0,0.0,113.0,23.0,1.10,139.0,3.5,15.3,54.0,6500.0,4.9
381,71.0,70.0,1.025,0.0,0.0,79.0,47.0,0.50,142.0,4.8,16.6,40.0,5800.0,5.9
382,48.0,80.0,1.025,0.0,0.0,75.0,22.0,0.80,137.0,5.0,16.8,51.0,6000.0,6.5
383,80.0,80.0,1.025,0.0,0.0,119.0,46.0,0.70,141.0,4.9,13.9,49.0,5100.0,5.0
384,57.0,60.0,1.020,0.0,0.0,132.0,18.0,1.10,150.0,4.7,15.4,42.0,11000.0,4.5
385,63.0,70.0,1.020,0.0,0.0,113.0,25.0,0.60,146.0,4.9,16.5,52.0,8000.0,5.1
386,46.0,70.0,1.025,0.0,0.0,100.0,47.0,0.50,142.0,3.5,16.4,43.0,5700.0,6.5
387,15.0,80.0,1.025,0.0,0.0,93.0,17.0,0.90,136.0,3.9,16.7,50.0,6200.0,5.2
388,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.20,144.0,3.7,15.5,46.0,9500.0,6.4
389,41.0,80.0,1.025,0.0,0.0,112.0,48.0,0.70,140.0,5.0,17.0,52.0,7200.0,5.8
390,52.0,80.0,1.025,0.0,0.0,99.0,25.0,0.80,135.0,3.7,15.0,52.0,6300.0,5.3
391,36.0,80.0,1.025,0.0,0.0,85.0,16.0,1.10,142.0,4.1,15.6,44.0,5800.0,6.3
392,57.0,80.0,1.020,0.0,0.0,133.0,48.0,1.20,147.0,4.3,14.8,46.0,6600.0,5.5
393,43.0,60.0,1.025,0.0,0.0,117.0,45.0,0.70,141.0,4.4,13.0,54.0,7400.0,5.4
394,50.0,80.0,1.020,0.0,0.0,137.0,46.0,0.80,139.0,5.0,14.1,45.0,9500.0,4.6
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.50,150.0,4.9,15.7,47.0,6700.0,4.9
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.20,141.0,3.5,16.5,54.0,7800.0,6.2
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.60,137.0,4.4,15.8,49.0,6600.0,5.4
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.00,135.0,4.9,14.2,51.0,7200.0,5.9
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.10,141.0,3.5,15.8,53.0,6800.0,6.1

In [18]:
def outliers_removing(df, k1=0.25, k3=0.75):
    """
    parameters:
    -----------
    df: tipe dataframe, hanya menerima numeric
    
    mendeteksi data yang diluar batas bawah dan batas atas
    batas bawah = k1 - (k3-k1)*1.5
    batas atas = k3 + (k3-k1)*1.5
    """
    filtering = df.apply(lambda x: (x < df[x.name].quantile(k1)-((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5))|(x > df[x.name].quantile(k3)+((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5)), axis=0)
    filtered_df = df[~(filtering).any(axis=1)]
    return filtered_df

In [20]:
df = dataset()
filtered_df = outliers_removing(df)
filtered_df

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.20,NaN,NaN,15.4,44.0,7800.0,5.2
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.40,NaN,NaN,11.6,35.0,7300.0,4.6
5,60.0,90.0,1.015,3.0,0.0,74.0,25.0,1.10,142.0,3.2,12.2,39.0,7800.0,4.4
13,68.0,70.0,NaN,NaN,NaN,98.0,86.0,4.60,135.0,3.4,9.8,NaN,NaN,NaN
16,47.0,70.0,1.015,2.0,0.0,99.0,46.0,2.20,138.0,4.1,12.6,NaN,NaN,NaN
17,47.0,80.0,NaN,NaN,NaN,114.0,87.0,5.20,139.0,3.7,12.1,NaN,NaN,NaN
19,62.0,60.0,1.015,1.0,0.0,100.0,31.0,1.60,NaN,NaN,10.3,30.0,5300.0,3.7
23,21.0,70.0,1.010,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,61.0,60.0,1.025,0.0,0.0,108.0,75.0,1.90,141.0,5.2,9.9,29.0,8400.0,3.7
26,75.0,80.0,1.015,0.0,0.0,156.0,45.0,2.40,140.0,3.4,11.6,35.0,10300.0,4.0
29,68.0,70.0,1.005,1.0,0.0,NaN,28.0,1.40,NaN,NaN,12.9,38.0,NaN,NaN
31,73.0,90.0,1.015,3.0,0.0,107.0,33.0,1.50,141.0,4.6,10.1,30.0,7800.0,4.0
36,76.0,70.0,1.015,1.0,0.0,92.0,29.0,1.80,133.0,3.9,10.3,32.0,NaN,NaN
37,72.0,80.0,NaN,NaN,NaN,137.0,65.0,3.40,141.0,4.7,9.7,28.0,6900.0,2.5
38,69.0,80.0,1.020,3.0,0.0,NaN,103.0,4.10,132.0,5.9,12.5,NaN,NaN,NaN
40,46.0,90.0,1.010,2.0,0.0,99.0,80.0,2.10,NaN,NaN,11.1,32.0,9100.0,4.1
41,45.0,70.0,1.010,0.0,0.0,NaN,20.0,0.70,NaN,NaN,NaN,NaN,NaN,NaN
46,48.0,70.0,1.015,0.0,0.0,124.0,24.0,1.20,142.0,4.2,12.4,37.0,6400.0,4.7
47,11.0,80.0,1.010,3.0,0.0,NaN,17.0,0.80,NaN,NaN,15.0,45.0,8600.0,NaN
50,53.0,60.0,NaN,NaN,NaN,91.0,114.0,3.25,142.0,4.3,8.6,28.0,11000.0,3.8
52,53.0,90.0,1.015,0.0,0.0,NaN,38.0,2.20,NaN,NaN,10.9,34.0,4300.0,3.7
55,35.0,80.0,1.005,3.0,0.0,NaN,NaN,NaN,NaN,NaN,9.5,28.0,NaN,NaN
62,15.0,60.0,1.020,3.0,0.0,86.0,15.0,0.60,138.0,4.0,11.0,33.0,7700.0,3.8
64,55.0,80.0,1.010,0.0,0.0,146.0,NaN,NaN,NaN,NaN,9.8,NaN,NaN,NaN
65,44.0,90.0,1.010,1.0,0.0,NaN,20.0,1.10,NaN,NaN,15.0,48.0,NaN,NaN
66,67.0,70.0,1.020,2.0,0.0,150.0,55.0,1.60,131.0,4.8,NaN,NaN,NaN,NaN
68,65.0,70.0,1.010,2.0,0.0,112.0,73.0,3.30,NaN,NaN,10.9,37.0,NaN,NaN
71,46.0,60.0,1.010,1.0,0.0,163.0,92.0,3.30,141.0,4.0,9.8,28.0,14600.0,3.2
77,67.0,70.0,1.010,1.0,0.0,102.0,48.0,3.20,137.0,5.0,11.9,34.0,7100.0,3.7
78,70.0,80.0,NaN,NaN,NaN,158.0,85.0,3.20,141.0,3.5,10.1,30.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,69.0,70.0,1.020,0.0,0.0,83.0,42.0,1.20,139.0,3.7,16.2,50.0,9300.0,5.4
371,28.0,60.0,1.025,0.0,0.0,79.0,50.0,0.50,145.0,5.0,17.6,51.0,6500.0,5.0
372,72.0,60.0,1.020,0.0,0.0,109.0,26.0,0.90,150.0,4.9,15.0,52.0,10500.0,5.5
373,61.0,70.0,1.025,0.0,0.0,133.0,38.0,1.00,142.0,3.6,13.7,47.0,9200.0,4.9
374,79.0,80.0,1.025,0.0,0.0,111.0,44.0,1.20,146.0,3.6,16.3,40.0,8000.0,6.4
375,70.0,80.0,1.020,0.0,0.0,74.0,41.0,0.50,143.0,4.5,15.1,48.0,9700.0,5.6
376,58.0,70.0,1.025,0.0,0.0,88.0,16.0,1.10,147.0,3.5,16.4,53.0,9100.0,5.2
377,64.0,70.0,1.020,0.0,0.0,97.0,27.0,0.70,145.0,4.8,13.8,49.0,6400.0,4.8
378,71.0,60.0,1.025,0.0,0.0,NaN,NaN,0.90,140.0,4.8,15.2,42.0,7700.0,5.5
379,62.0,80.0,1.025,0.0,0.0,78.0,45.0,0.60,138.0,3.5,16.1,50.0,5400.0,5.7
380,59.0,60.0,1.020,0.0,0.0,113.0,23.0,1.10,139.0,3.5,15.3,54.0,6500.0,4.9
381,71.0,70.0,1.025,0.0,0.0,79.0,47.0,0.50,142.0,4.8,16.6,40.0,5800.0,5.9
382,48.0,80.0,1.025,0.0,0.0,75.0,22.0,0.80,137.0,5.0,16.8,51.0,6000.0,6.5
383,80.0,80.0,1.025,0.0,0.0,119.0,46.0,0.70,141.0,4.9,13.9,49.0,5100.0,5.0
384,57.0,60.0,1.020,0.0,0.0,132.0,18.0,1.10,150.0,4.7,15.4,42.0,11000.0,4.5
385,63.0,70.0,1.020,0.0,0.0,113.0,25.0,0.60,146.0,4.9,16.5,52.0,8000.0,5.1
386,46.0,70.0,1.025,0.0,0.0,100.0,47.0,0.50,142.0,3.5,16.4,43.0,5700.0,6.5
387,15.0,80.0,1.025,0.0,0.0,93.0,17.0,0.90,136.0,3.9,16.7,50.0,6200.0,5.2
388,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.20,144.0,3.7,15.5,46.0,9500.0,6.4
389,41.0,80.0,1.025,0.0,0.0,112.0,48.0,0.70,140.0,5.0,17.0,52.0,7200.0,5.8
390,52.0,80.0,1.025,0.0,0.0,99.0,25.0,0.80,135.0,3.7,15.0,52.0,6300.0,5.3
391,36.0,80.0,1.025,0.0,0.0,85.0,16.0,1.10,142.0,4.1,15.6,44.0,5800.0,6.3
392,57.0,80.0,1.020,0.0,0.0,133.0,48.0,1.20,147.0,4.3,14.8,46.0,6600.0,5.5
393,43.0,60.0,1.025,0.0,0.0,117.0,45.0,0.70,141.0,4.4,13.0,54.0,7400.0,5.4
394,50.0,80.0,1.020,0.0,0.0,137.0,46.0,0.80,139.0,5.0,14.1,45.0,9500.0,4.6
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.50,150.0,4.9,15.7,47.0,6700.0,4.9
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.20,141.0,3.5,16.5,54.0,7800.0,6.2
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.60,137.0,4.4,15.8,49.0,6600.0,5.4
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.00,135.0,4.9,14.2,51.0,7200.0,5.9
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.10,141.0,3.5,15.8,53.0,6800.0,6.1

In [22]:
filtered_df.to_csv("CKD_filtered_df.csv")