# I. PEMAHAMAN DOMAIN DAN TUJUAN

## 1.1. Pemahaman Penyakit Ginjal Kronis

>Penyakit Ginjal Kronis (PGK) adalah suatu proses patofisiologis dengan etiologi yang beragam, mengakibatkan penurunan fungsi ginjal yang progresif, penurunan fungsi ini bersifat kronis dan irreversible.

>Data didapatkan dari UCI Machine Learning Repository. Berisikan 400 data dan memiliki 25 atribut, terdiri dari 1 kelas target dan 24 atribut.

## 1.2. Tujuan

>Identifikasi PGK dengan atribut yang paling berpengaruh

# II. PEMBUATAN DATASET DAN TARGET

## 2.1 Data UCI

Data didapat dari: https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease

Data tersebut di-import dalam mariaDB

>Import Library

In [1]:
import numpy as np
import pandas as pd
import pymysql as pskl
import matplotlib.pyplot as plt

# Menampilkan semua array
# np.set_printoptions(threshold=np.nan)

>Memanggil Dataset

In [2]:
def dataset(retrieve="numeric", id=0, target=0): #hasil bertipe dataframe
    """
    parameters
    ----------
    retrieve: (all, numeric, polinom)
        all    : semua kolom
        numeric: hanya kolom numeric
        polinom: hanya kolom polinom
    id: (0, 1)
        0: tanpa kolom id
        1: dengan kolom id
    class: (0, 1)
        0: tanpa kolom class
        1: dengan kolom class
    
    """
    connection = pskl.connect(host="localhost", user="root", passwd="", database="knn")
    cursor = connection.cursor()
    if(retrieve=="all"):
        cols = ["id", "age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"]
        retrieve = "SELECT id, age, bp, sg, al, su, bgr, bu, sc, sod, pot, hemo, pcv, wbcc, rbcc, rbc, pc, pcc, ba, htn, dm, cad, appet, pe, ane, class FROM ckd_preprocessing3"
    elif(retrieve=="numeric"):
        cols = ["id", "age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "class"]
        retrieve = "SELECT id, age, bp, sg, al, su, bgr, bu, sc, sod, pot, hemo, pcv, wbcc, rbcc, class FROM ckd_preprocessing3"
    elif(retrieve=="polinom"):
        cols = ["id", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"]
        retrieve = "SELECT id, rbc, pc, pcc, ba, htn, dm, cad, appet, pe, ane, class FROM ckd_preprocessing3"
    resolveall = cursor.execute(retrieve)
    rows_tupple = cursor.fetchall()
    data = pd.DataFrame(list(rows_tupple))
    data.columns = cols
    if(id==0):
        data = data.drop(["id"], axis=1)
    if(target==0):
        data = data.drop(["class"], axis=1)
    data = data.fillna(value=np.nan) #mengubah missing value menjadi NaN
    return data

In [3]:
dataset(retrieve="all").head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,NaN,...,NaN,normal,notpresent,notpresent,yes,yes,no,good,no,no
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,NaN,...,NaN,normal,notpresent,notpresent,no,no,no,good,no,no
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,NaN,...,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,...,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,NaN,...,normal,normal,notpresent,notpresent,no,no,no,good,no,no

## 2.2. Menentukan Atribut Target

>Atribut "class" sebagai target dataset

# III. DATA CLEANING DAN PREPROCESSING

## 3.1 Menghilangkan Outliers

>referensi: http://digilib.unila.ac.id/20585/4/II.%20TINJAUAN%20PUSTAKA.pdf

>Mendapatkan data outliers

In [4]:
def outliers(df, k1=0.25, k3=0.75):
    """
    parameters:
    -----------
    df: input tipe dataframe, hanya menerima numeric
    
    mendeteksi data yang diluar batas bawah dan batas atas
    batas bawah = k1 - (k3-k1)*1.5
    batas atas = k3 + (k3-k1)*1.5
    """
    pencilan = df.apply(lambda x: (x < df[x.name].quantile(k1)-((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5))|(x > df[x.name].quantile(k3)+((df[x.name].quantile(k3)-df[x.name].quantile(k1))*1.5)), axis=0)
    return pencilan

In [5]:
df = dataset()
pencilan = outliers(df)
pencilan.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False

>Menghilangkan outliers

In [6]:
def outliers_removing(df, pencilan):
    """
    paramters:
    ----------
    df: input tipe dataframe
    pencilan: input tipe dataframe, bertipe boolean
    
    output:
    -------
    mengembalikan dataframe yang sudah menghilangkan semua outliers (semua baris yang berisi nilai pencilan true)
    """
    filtered_df = df[~(pencilan).any(axis=1)]
    return filtered_df

In [7]:
df = dataset(retrieve="all", id=1, target=1)

filtered_df = outliers_removing(df, pencilan)
filtered_df.head()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
4,5,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
5,6,60.0,90.0,1.015,3.0,0.0,74.0,25.0,1.1,142.0,...,NaN,notpresent,notpresent,yes,yes,no,good,yes,no,ckd
13,14,68.0,70.0,NaN,NaN,NaN,98.0,86.0,4.6,135.0,...,NaN,notpresent,notpresent,yes,yes,yes,poor,yes,no,ckd
16,17,47.0,70.0,1.015,2.0,0.0,99.0,46.0,2.2,138.0,...,normal,notpresent,notpresent,no,no,no,good,no,no,ckd

# IV. TRANSFORMASI DATA

## 4.1 Data Nominal Menjadi Numeric

>Mengubah atribut / kolom polinom menjadi numerik

>Dikarenakan semua kolom nominal hanya memiliki 2 kelas (binary), hasil transformasi menjadi 0 dan 1

>Transformasi Data

In [8]:
def encoding(df, column="all_nominal"):
    """
    paramters:
    ----------
    df: input tipe dataframe
    column: input tipe string, menentukan kolom nominal mana yang akan di transformasi menjadi numerik
    
    output:
    ----------
    mengembalikan dataframe dengan kolom tertentu yang sudah di encode selain "NaN"
    
    """
    #python melakukan pass by reference, sehingga dibuat copy agar df sebelumnya tidak berubah
    
    copy_df = df.copy()
    if(column!="all_nominal"):
        a = copy_df[column].unique().tolist()
        c = [x for x in a if str(x) != 'nan']
        l=[]
        i=0
        for x in c:
            l.append(i)
            i+=1
        copy_df[column] = copy_df[column].replace(c, l)
    
    elif(column=="all_nominal"):
        all_nominal = ["rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane","class"]
        for col in all_nominal:
            copy_df = encoding(copy_df, col) #rekursif
            
    return copy_df

In [9]:
encoded_df = encoding(filtered_df, "all_nominal")
encoded_df.head()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,5,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0
5,6,60.0,90.0,1.015,3.0,0.0,74.0,25.0,1.1,142.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
13,14,68.0,70.0,NaN,NaN,NaN,98.0,86.0,4.6,135.0,...,NaN,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0
16,17,47.0,70.0,1.015,2.0,0.0,99.0,46.0,2.2,138.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0

## 4.2 Penanganan Data yang Hilang

Mengubah NaN menjadi strategi tertentu, dalam hal ini diubah menjadi rata - rata dari setiap kolom

>Import Library

In [10]:
from sklearn.preprocessing import Imputer

In [11]:
def missing_handling(df, column="all", method="mean"):
    """
    paramters:
    ----------
    df: input tipe dataframe
    column: menentukan kolom numerik mana yang akan dilakukan penanganan missing value
    method: strategi penanganan missing value
    
    output:
    ----------
    mengembalikan dataframe dengan kolom yang sudah dilakukan penanganan NaN
    """
    
    copy_df = df
    imputer = Imputer(missing_values="NaN", strategy=method, axis = 0)    
    
    if(column!="all"):
        imputer = imputer.fit(copy_df[[column]])
        filledmissing_df = imputer.transform(copy_df[[column]])
        df_change = filledmissing_df.ravel()    
        copy_df[column] = df_change
        
    elif(column=="all"):
        all_col = ["age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"]
        for col in all_col:
            copy_df = missing_handling(copy_df, col, method) #rekursif
    return copy_df

In [12]:
missing_handling_df = missing_handling(encoded_df, "all")
missing_handling_df.head()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,1,48.0,80.0,1.020000,1.000000,0.0,121.0,36.0,1.2,140.50495,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,51.0,80.0,1.010000,2.000000,0.0,106.0,26.0,1.4,140.50495,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,6,60.0,90.0,1.015000,3.000000,0.0,74.0,25.0,1.1,142.00000,...,0.100917,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,14,68.0,70.0,1.019432,0.458515,0.0,98.0,86.0,4.6,135.00000,...,0.100917,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
16,17,47.0,70.0,1.015000,2.000000,0.0,99.0,46.0,2.2,138.00000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

## 4.3 Normalisasi

>Melakukan normalisasi data, agar range tiap atribut sama dan tidak ada yang dominan saat perhitungan

$$Xnorm = \frac{X - min(X)}{max(X)-min(X)}$$

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
def normalizing(df, column="all", f_range=(0,1)):
    """
    paramters:
    ----------
    df: input tipe dataframe
    column: menentukan kolom numerik mana yang akan dilakukan penanganan missing value
    range: range normalisasi
    
    output:
    ----------
    mengembalikan dataframe dengan kolom yang sudah dinormalisasi
    """
    
    copy_df = df.copy()
    scale = MinMaxScaler(feature_range=f_range)    
    
    if(column!="all"):
        normalization_array = scale.fit_transform(copy_df[[column]])
        df_change = normalization_array.ravel()    
        copy_df[column] = df_change
        
    elif(column=="all"):
        all_col = ["age", "bp", "sg", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hemo", "pcv", "wbcc", "rbcc", "rbc", "pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane"]
        for col in all_col:
            copy_df = normalizing(copy_df, col, f_range) #rekursif
    return copy_df

In [15]:
normalized_df = normalizing(missing_handling_df, column="all", f_range=(0,1))
normalized_df.head()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,1,0.468354,0.666667,0.750000,0.250000,0.0,0.286517,0.250000,0.166667,0.620198,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.506329,0.666667,0.250000,0.500000,0.0,0.202247,0.153846,0.208333,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,6,0.620253,1.000000,0.500000,0.750000,0.0,0.022472,0.144231,0.145833,0.680000,...,0.100917,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,14,0.721519,0.333333,0.721616,0.114629,0.0,0.157303,0.730769,0.875000,0.400000,...,0.100917,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
16,17,0.455696,0.333333,0.500000,0.500000,0.0,0.162921,0.346154,0.375000,0.520000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

# V. PENENTUAN TUGAS DATA MINING

>Tugas Data Mining yang dilakukan adalah klasifikasi

# VI. IMPLEMENTASI ALGORITMA DAN METODE

## 6.1 Klasifikasi

>Klasifikasi dengan algoritma kNN

>Import Modul Buatan Dari EDx

In [16]:
import MyDir as my

## 6.2 Seleksi Atribut

Seleksi atribut dengan Backward Elimination

# VI. Pengembangan Algoritma Data Mining

>Mencari nilai kNN terbaik

In [17]:
#mengambil atribut

x = normalized_df.iloc[:,-1]
x.head()

0     0.0
4     0.0
5     0.0
13    0.0
16    0.0
Name: class, dtype: float64

In [18]:
normalized_df["class"].value_counts()

1.0    150
0.0    101
Name: class, dtype: int64

In [19]:
#mengambil target

y = normalized_df["class"]
y.head()

0     0.0
4     0.0
5     0.0
13    0.0
16    0.0
Name: class, dtype: float64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(normalized_df, y, test_size=0.4)

In [22]:
x_train.shape

(150, 26)

In [23]:
y_train.shape

(150,)

In [24]:
x_test.shape

(101, 26)

In [25]:
y_test.shape

(101,)

In [26]:
from sklearn import datasets
iris = datasets.load_iris()
predictors = iris.data[:, 0:2]
type(predictors) == type(x_train)

False

In [27]:
type(np.array(x_train))

numpy.ndarray

In [28]:
x_train = np.array(x_train)
y_train = np.array(y_train)

In [29]:
outcomes = iris.target
type(outcomes) == type(y_train)

True

In [30]:
type(outcomes) == type(y_test)

False

In [31]:
x_test = np.array(x_test)
y_test = np.array(y_test)

In [32]:
type(outcomes) == type(y_test)

True

In [33]:
my_predictions = np.array([my.knn_predict(p, x_train, y_train, 5) for p in x_test])

In [34]:
akurasi_my_predictions = np.mean(my_predictions == y_test)*100
akurasi_my_predictions

100.0

In [35]:
my_predictions

array([1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1.])

In [36]:
y_test

array([1., 1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1.,
       1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 0., 1.])

In [37]:
normalized_df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,1,0.468354,0.666667,0.750000,0.250000,0.0,0.286517,0.250000,0.166667,0.620198,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.506329,0.666667,0.250000,0.500000,0.0,0.202247,0.153846,0.208333,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,6,0.620253,1.000000,0.500000,0.750000,0.0,0.022472,0.144231,0.145833,0.680000,...,0.100917,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,14,0.721519,0.333333,0.721616,0.114629,0.0,0.157303,0.730769,0.875000,0.400000,...,0.100917,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
16,17,0.455696,0.333333,0.500000,0.500000,0.0,0.162921,0.346154,0.375000,0.520000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
17,18,0.455696,0.666667,0.721616,0.114629,0.0,0.247191,0.740385,1.000000,0.560000,...,0.100917,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
19,20,0.645570,0.000000,0.500000,0.250000,0.0,0.168539,0.201923,0.250000,0.620198,...,1.000000,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
23,24,0.126582,0.333333,0.250000,0.000000,0.0,0.259856,0.272871,0.185618,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
25,26,0.632911,0.000000,1.000000,0.000000,0.0,0.213483,0.625000,0.312500,0.640000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26,27,0.810127,0.666667,0.500000,0.000000,0.0,0.483146,0.336538,0.416667,0.600000,...,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
29,30,0.721519,0.333333,0.000000,0.250000,0.0,0.259856,0.173077,0.208333,0.620198,...,1.000000,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
31,32,0.784810,1.000000,0.500000,0.750000,0.0,0.207865,0.221154,0.229167,0.640000,...,1.000000,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
36,37,0.822785,0.333333,0.500000,0.250000,0.0,0.123596,0.182692,0.291667,0.320000,...,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
37,38,0.772152,0.666667,0.721616,0.114629,0.0,0.376404,0.528846,0.625000,0.640000,...,0.100917,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
38,39,0.734177,0.666667,0.750000,0.750000,0.0,0.259856,0.894231,0.770833,0.280000,...,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
40,41,0.443038,1.000000,0.250000,0.500000,0.0,0.162921,0.673077,0.354167,0.620198,...,1.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
41,42,0.430380,0.333333,0.250000,0.000000,0.0,0.259856,0.096154,0.062500,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
46,47,0.468354,0.333333,0.500000,0.000000,0.0,0.303371,0.134615,0.166667,0.680000,...,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
47,48,0.000000,0.666667,0.250000,0.750000,0.0,0.259856,0.067308,0.083333,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
50,51,0.531646,0.000000,0.721616,0.114629,0.0,0.117978,1.000000,0.593750,0.680000,...,0.100917,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
52,53,0.531646,1.000000,0.500000,0.000000,0.0,0.259856,0.269231,0.375000,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0
55,56,0.303797,0.666667,0.000000,0.750000,0.0,0.259856,0.272871,0.185618,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
62,63,0.050633,0.000000,0.750000,0.750000,0.0,0.089888,0.048077,0.041667,0.520000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,65,0.556962,0.666667,0.250000,0.000000,0.0,0.426966,0.272871,0.185618,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
65,66,0.417722,1.000000,0.250000,0.250000,0.0,0.259856,0.096154,0.145833,0.620198,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
66,67,0.708861,0.333333,0.750000,0.500000,0.0,0.449438,0.432692,0.250000,0.240000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
68,69,0.683544,0.333333,0.250000,0.500000,0.0,0.235955,0.605769,0.604167,0.620198,...,0.000000,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
71,72,0.443038,0.000000,0.250000,0.250000,0.0,0.522472,0.788462,0.604167,0.640000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
77,78,0.708861,0.333333,0.250000,0.250000,0.0,0.179775,0.365385,0.583333,0.480000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
78,79,0.746835,0.666667,0.721616,0.114629,0.0,0.494382,0.721154,0.583333,0.640000,...,0.100917,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,371,0.734177,0.333333,0.750000,0.000000,0.0,0.073034,0.307692,0.166667,0.560000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
371,372,0.215190,0.000000,1.000000,0.000000,0.0,0.050562,0.384615,0.020833,0.800000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
372,373,0.772152,0.000000,0.750000,0.000000,0.0,0.219101,0.153846,0.104167,1.000000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
373,374,0.632911,0.333333,1.000000,0.000000,0.0,0.353933,0.269231,0.125000,0.680000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
374,375,0.860759,0.666667,1.000000,0.000000,0.0,0.230337,0.326923,0.166667,0.840000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
375,376,0.746835,0.666667,0.750000,0.000000,0.0,0.022472,0.298077,0.020833,0.720000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
376,377,0.594937,0.333333,1.000000,0.000000,0.0,0.101124,0.057692,0.145833,0.880000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
377,378,0.670886,0.333333,0.750000,0.000000,0.0,0.151685,0.163462,0.062500,0.800000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
378,379,0.759494,0.000000,1.000000,0.000000,0.0,0.259856,0.272871,0.104167,0.600000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
379,380,0.645570,0.666667,1.000000,0.000000,0.0,0.044944,0.336538,0.041667,0.520000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
380,381,0.607595,0.000000,0.750000,0.000000,0.0,0.241573,0.125000,0.145833,0.560000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
381,382,0.759494,0.333333,1.000000,0.000000,0.0,0.050562,0.355769,0.020833,0.680000,...,0.100917,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
382,383,0.468354,0.666667,1.000000,0.000000,0.0,0.028090,0.115385,0.083333,0.480000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
383,384,0.873418,0.666667,1.000000,0.000000,0.0,0.275281,0.346154,0.062500,0.640000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
384,385,0.582278,0.000000,0.750000,0.000000,0.0,0.348315,0.076923,0.145833,1.000000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
385,386,0.658228,0.333333,0.750000,0.000000,0.0,0.241573,0.144231,0.041667,0.840000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
386,387,0.443038,0.333333,1.000000,0.000000,0.0,0.168539,0.355769,0.020833,0.680000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
387,388,0.050633,0.666667,1.000000,0.000000,0.0,0.129213,0.067308,0.104167,0.440000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
388,389,0.506329,0.666667,0.750000,0.000000,0.0,0.134831,0.048077,0.166667,0.760000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
389,390,0.379747,0.666667,1.000000,0.000000,0.0,0.235955,0.365385,0.062500,0.600000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
390,391,0.518987,0.666667,1.000000,0.000000,0.0,0.162921,0.144231,0.083333,0.400000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
391,392,0.316456,0.666667,1.000000,0.000000,0.0,0.084270,0.057692,0.145833,0.680000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
392,393,0.582278,0.666667,0.750000,0.000000,0.0,0.353933,0.365385,0.166667,0.880000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
393,394,0.405063,0.000000,1.000000,0.000000,0.0,0.264045,0.336538,0.062500,0.640000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
394,395,0.493671,0.666667,0.750000,0.000000,0.0,0.376404,0.346154,0.083333,0.560000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
395,396,0.556962,0.666667,0.750000,0.000000,0.0,0.393258,0.375000,0.020833,1.000000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
396,397,0.392405,0.333333,1.000000,0.000000,0.0,0.028090,0.201923,0.166667,0.640000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
397,398,0.012658,0.666667,0.750000,0.000000,0.0,0.168539,0.153846,0.041667,0.480000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
398,399,0.075949,0.000000,1.000000,0.000000,0.0,0.247191,0.384615,0.125000,0.400000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
399,400,0.594937,0.666667,1.000000,0.000000,0.0,0.342697,0.076923,0.145833,0.640000,...,0.000000,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0